<h1><%=@user.first_name %> <%= @user.last_name %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'button tiny radius' %>
<%end %>

<% if current_user %>
  <%= link_to 'Delete', user_path(@user), method: :delete, class: 'button tiny radius'%>
<%end %>


<div class='container'>
  <ul>
    <li><%= link_to 'Contacts', contacts_path, method: :get %></li>
    <li><%= link_to 'Messages', new_message_path, method: :get %></li>
    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
  </ul>
</div>



