<h1>here at index</h1>

<h3>add a contact</h3>
<%= form_tag '/contacts' do %>

  Name:    <%= text_field_tag :email %>
  Number: <%= text_field_tag :number %>
            <%= submit_tag "Submit", :class => "myButton" %>

<% end %>
<ul>
  <li><%= link_to 'Contacts', contacts_path, method: :get %></li>
  <li><%= link_to 'Messages', new_message_path, method: :get %></li>
  <li><%= link_to 'Logout', logout_path, method: :delete %></li>
</ul>



