<h1>here at index</h1>


<%= form_tag '/login' do %>

  Email:    <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
            <%= submit_tag "Submit", :class => "myButton" %>

<% end %>
<ul>
  <li><%= link_to 'Contacts', contacts_path, method: :get %></li>
  <li><%= link_to 'Messages', new_message_path, method: :get %></li>
  <li><%= link_to 'Logout', logout_path, method: :delete %></li>
</ul>



